<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Calorizer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="CaloriesInString" value="Munch"/>
    <add key="CaloriesOutString" value="Crunch"/>
    <add key="CaloriesTotalString" value="Bunch"/>
  </appSettings>
    <applicationSettings>
        <Calorizer.Properties.Settings>
            <setting name="ControlBackColor" serializeAs="String">
                <value>104, 104, 104</value>
            </setting>
            <setting name="ControlForeColor" serializeAs="String">
                <value>254, 254, 254</value>
            </setting>
            <setting name="ApplicationBackColor" serializeAs="String">
                <value>63, 63, 63</value>
            </setting>
        </Calorizer.Properties.Settings>
    </applicationSettings>
</configuration>